<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heavens Wall | Just Have a Memories</title>
    <!-- Required meta tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CDA IT Solutions">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days" />
    <link rel="canonical" href="" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Heavens Wall | Just Have a Memories">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="https://www.cdaitsolutions.com">
    <meta property="twitter:url" content="">
    <meta name="twitter:title" content="Heavens Wall | Just Have a Memories">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content=" ">

    <!-- Favicons -->
    <link rel="icon" href="images/favicon.jpg" type="image/jpg" sizes="30x30">

    <!-- CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

<body>
    <div class="bg">
        <header>
            <div class="container">
                <div class="col-lg-12 text-center">
                  <a href="#"><img src="{% static 'images/heavenswall_logo_new.png' %}" class="img-responsive"></a>
                </div>
            </div>
        </header>

        <div class="container main-div">
            <nav id="myNavbar" class="navbar navbar-default navbar-inverse " role="navigation">
                <div class="container-fluid ">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About us</a></li>
                            <li><a href="profiles.html">Profiles</a></li>
                            <li><a href="privacypolicy.html">Privacy Policies</a></li>
                            <li><a href="termsconditions.html">Terms & Conditions</a></li>
                            <li><a href="announcement.html">Announcement </a></li>
                            <li><a href="contactus.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="section-bg">
                <div class="container-fluid overflow">

                    <div class="row no-margin">
                        <div class="col-lg-4">
                            <div class="text">
                                <h1 class=" text-left">Welcome Reza Razavi</h1>
                                <hr>
                                <div class="wel-box">
                                    <h4>Statistics</h4>
                                    <table width="100%">
                                        <tr>
                                            <td>Your Profiles: </td>
                                            <td><a href="#">19</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="bottom-menu">
                            <ul>
                                <li><a href="#">Add New Profile</a></li>
                                <li><a href="#">View Other Profiles</a></li>
                                <li><a href="#">View Your Profiles</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="navbar-fixed-bottom">
                <div class="container">
                    <div class="col-lg-4">
                        <p>© Heavens Wall 2017. All Right Reserved </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-list">
                            <ul>
                                <li><a href="{% url 'website:index' %}">Home</a></li>
                        <li><a href="{% url 'website:about_us' %}">About us</a></li>
                        <li><a href="{% url 'website:profiles' %}">Profiles</a></li>
                        <li><a href="{% url 'website:privacy_policy' %}">Privacy Policies</a></li>
                        <li><a href="{% url 'website:terms_conditions' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'website:announcement' %}">Announcement </a></li>
                        <li><a href="{% url 'website:contactus' %}">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 text-right">
                        <a href="#"><img src="images/icon-1.png" alt=""></a>
                        <a href="#"><img src="images/icon-2.png" alt=""></a>
                        <a href="#"><img src="images/icon-3.png" alt=""></a>
                        <a href="#"><img src="images/icon-4.png" alt=""></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script rel="stylesheet" href="{% static 'js/jquery.min.js' %}"></script>
    <script rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"></script>
</body></html>
