<html>
<head>
</head>
<body>
<center>
    {% if user.is_authenticated %}
    <h2> Welcome {{user.username}} </h2>
    {% endif %}

Students Details
    <table border = "1px">
        <thead>
        <th> id </th>
        <th> Name </th>
        <th> group</th>
        <th> mobile </th>
        <th> email </th>
        <th> address </th>
        <th> gender </th>
        <th> country</th>
        <th> marks_percentage </th>

        </thead>
        {% for i in college2 %}
        <tr>
            <td> {{i.id}}</td>
            <td> {{i.name}}</td>
            <td> {{i.group}}</td>
            <td> {{i.mobile}} </td>
            <td> {{i.email}} </td>
            <td> {{i.address}} </td>
            <td> {{i.gender}} </td>
            <td> {{i.country}} </td>
            <td> {{i.marks_percentage}} </td>
            <td> <a href = '/student2/edit/{{i.id}}'> edit </a> </td>
            <td> <a href = '/student2/delete/{{i.id}}'> delete </a> </td>
 </tr>
    {% endfor %}
      </table>

    </form>

    <form action="/student2/logout/" method="POST">
        {% csrf_token %}
         <button type="submit">logout</button>
    </form>

</center>
</body>
</html>