{% extends "website_base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content_inner %}
    <div class="section-bg">
                <div class="container-fluid">

                    <div class="col-lg-12 text-center">

                        <div class="text about overflow">
                            <h1>About Us</h1>
                            <p>Heavenswall.com is the unique online memorial wall in the net world. Our mission is to help<br>
                                every one preserve, share and keep the memories of their love ones alive with family and friends.<br>
                                <strong>This sevice is FREE and it is dedicated to our love ones, may GOD bless their souls.</strong>
                            </p>
                            <h6>Best Regards,<br>Havens Wall</h6>
                        </div>
                    </div>

                </div>
            </div>
{% endblock %}
{% block extra_js %}

{% endblock %}